<div class="row">
  <div class="col-md-8">
    <h1><%= @user.name %></h1>
    <p>This is my profile page.</p>
    <h3>Bio:</h3>
    <p>
      <%= @user.bio %>
    </p>
    <br>
    <%= link_to "Edit Profile", edit_user_path(@user), class: 'btn btn-primary' %>
    or <%= link_to "Edit Login Information", edit_user_registration_path(@user) %>
  </div>
</div>
