@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 70px;
}

input, textarea, .btn {
  margin-bottom: 10px;
}

.odin-fb-nav {
  background-color: #225ab9;
  a {
    color: #fff;
  }
}
